<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->

  <title>{% block title %}
    site
  {% endblock %}</title>
  {% block imports %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="../static/js/base_data.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  {% endblock %}
  <style>
  {% block style%}
    footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height:20%;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    }
    body {
        font: 20px Montserrat, sans-serif;
        line-height: 1.8;
        color: #f5f6f7;
    }
    p {font-size: 16px;}
    .margin {margin-bottom: 45px;}
    .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
    .bg-2 {
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
    }
    .bg-3 {
        background-color: #ffffff; /* White */
        color: #555555;
    }
    .bg-4 {
        background-color: #2f2f2f; /* Black Gray */
        color: #fff;
    }
    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
    }
    .navbar-nav  li a:hover {
        color: #1abc9c !important;
    }
</style>
{% endblock %}

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Inicio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        {% block nav_bar_options %}
          <!-- <li><a href="/">Inicio</a></li> -->
          <li><a href="/mapa">Verificar Mapa</a></li>
        {% endblock %}
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
{% block body%}
<div class="container-fluid bg-1 text-center">
    vazio
</div>
{% endblock %}



<!-- Footer -->
<br>
<footer class="container-fluid bg-4 text-center">
  {% block footer %}

      <a class="" href="https://github.com/Mathe13/">
        Gostou? <i class="fab fa-github"></i> Ajude o projeto
      </a>

    <p>Bootstrap Theme Made By <a>www.w3schools.com</a></p>
  {% endblock %}

</footer>

</body>
</html>
{% block script%}
{% endblock %}
