{% extends "base.html.j2" %}
{% block imports %}
{{super()}}
<script src="../static/js/markercluster.js"></script>
<script src="../static/js/maps.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkK8945ckkbgGP93QtliiGL-ea84WJ8vo&callback=initMap">
</script>

<link rel="stylesheet" href="../static/css/maps.css">

{% endblock %}
{% block title %}
    Rodovias Mapa
{% endblock %}


{% block body%}
    <div style="background-image: url(&quot;../icons/cluster.png&quot;); background-size: cover; background-position: 0px 0px; height: 32px; line-height: 32px; width: 32px; text-align: center; cursor: pointer; top: -125.323px; left: 77.1532px; color: black; position: absolute; font-size: 11px; font-family: Arial, sans-serif; font-weight: bold;">4</div>
    <div id="map"></div>
{% endblock %}
